[submodule "certificates"]
	path = certificates
	url = https://github.com/adafruit/certificates
[submodule "arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32
