[submodule "certificates"]
	path = certificates
	url = https://github.com/adafruit/certificates
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "arduino-esp32"]
	path = arduino/arduino-esp32
	url = https://github.com/espressif/arduino-esp32
